<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="forget-container">
  <h2>{{ 'forgot.title' | translate }}</h2>
  <p class="subtitle">{{ 'forgot.subtitle' | translate }}</p>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <form (ngSubmit)="onRequestReset()">
    <div class="form-group">
      <label for="email">{{ 'forgot.email.label' | translate }}</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        [placeholder]="'forgot.email.placeholder' | translate"
        required
      />
    </div>

    <button type="submit" class="btn-submit">
      <i class="fa-solid fa-paper-plane"></i> {{ 'forgot.submit' | translate }}
    </button>
  </form>

  <a routerLink="/login" class="back-link">
    <i class="fa-solid fa-arrow-left"></i> {{ 'forgot.back' | translate }}
  </a>
</div>
